body {
    font-family: 'Open Sans', sans-serif;
}

.cs-footer {
    margin-top:100px;
    color:#fff;
    background-color: #555;
    padding-bottom:80px;
    padding-top:50px;
}

.cs-footer a {
    color:#fff;
    font-size:11px;
}

.cs-footer a:hover {
    color:#fff;
}

.cs-header {
    background-color: #1D9CCB;
    padding-bottom:30px;
    padding-top:30px;
}
