body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color:#1D9CCB;
}
a:hover {
    color: #1c89b6;
}
.cs-footer {
    margin-top:100px;
    color:#fff;
    background-color: #555;
    padding-bottom:80px;
    padding-top:50px;
}

.cs-footer a {
    color:#fff;
    font-size:11px;
}

.cs-footer a:hover {
    color:#fff;
}

.cs-header {
    background-color: #1D9CCB;
    padding-bottom:30px;
    padding-top:30px;
}

.cs-sub-header {
    padding-bottom:30px;
    padding-top:30px;
}

.cs-sub-header a {
    font-size:20px;
}

.cs-teaser {
    font-size:20px;
}
