.container {
    display:inline-block;
    list-style-type: none;
    padding:0;
    min-width:480px;
}

.element {
    margin:0;
    display:inline-block;
}
.unselected {
    border:4px solid transparent;
}

.selected {
    border:4px solid #2281C4;
    background-color: rgba(42, 168, 255, 0.18);
}
